@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Mooli&display=swap');

:root {
    --primary-color: #D4A668;
    --secondary-color: #9D977D;
    --accent1-color: #3b471d;
    --accent2-color: #814D29;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 40px;

}

.headerbuttons {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    padding-left: 50px;
}

.headerbuttons > * {
    margin-right: 50px;
}

.logo {
    width: 90px;
}

.section1 {
    top: 90px;
}

.hero {
    position: relative;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    font-size: 40px;
}

.purpose {
    font-size: 20px;
    color: #113ed3;
    font-weight: bolder;
}

.article {
    position: absolute;
    left: 530px;
    width: 700px;
    background-color: #9D977D;
    opacity: 0.7;
}

.article-img {
    float: right;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}


