@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mooli&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #CCBFA3;
    --secondary-color: #BBBBBB;
    --accent1-color: #3e6a6e;
    --accent2-color: #8ebb74;

    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Fira Sans', serif;

    --nav-background-color: #968567;
    --nav-link-color: #2A2F1E;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: rgb(113, 113, 241);
}

body {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
    background-color: var(--accent2-color);
}


header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px 0;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 3px;
    border-radius: 5px;
}

header img {
    max-width: 50px;
    border-radius: 25px;
    margin-left: 35px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav a {
    margin-right: 55px;
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 20px;
    font-weight: bold;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
}

p {
    font-size: 20px;
    color: var(--accent1-color);
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--nav-background-color);
}

.pictures {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.images img {
    max-width: 100%;
    height: auto;
    display: block;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: var(--accent1-color);
    margin-top: 35px;
    border: solid var(--secondary-color) 3px;
    border-radius: 10px;
}


footer p {
    margin: 0;
    color: var(--secondary-color);
    margin-left: 25px;
}

footer .sociallinks {
    display: flex;
    margin-right: 25px;
}

footer .sociallinks a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    color: var(--secondary-color);
}

footer .sociallinks a img {
    margin-left: 5px;
    width: 20px;
    height: auto;
}

footer .sociallinks a:hover {
    color: var(--accent1-color);
}